#main-content {
    text-align: center;
    background-image: url(../images/bg-image.jpeg);
}

#first-question {
    padding: 10px;
}

#second-question {
    padding: 10px;
}

#third-question {
    padding: 10px;
}

#fourth-question {
    padding: 10px;
}

#fifth-question {
    padding: 10px;
}

#sixth-question {
    padding: 10px;
}

#seventh-question {
    padding: 10px;
}

#eighth-question {
    padding: 10px;
}

#ninth-question {
    padding: 10px;
}

#tenth-question {
    padding: 10px;
}